.event{
	margin-bottom: 30px;	
	.event-title{
		color:$blue;
	}
	.event-subtitle{
		color:$black;
	}
	.cta-wrapper{
		margin-bottom:0.625em;
		margin-top:0.625em;
	}
	.event-description{
		margin-top:1.250em;
		.description-header{
			font-weight:bold;
			margin-bottom:0.625em;
		}
	}
}