.events, .single-post{
	margin-bottom: 30px;	
	.event-subtitle{
		color:$black;
	}
	.cta-wrapper{
		margin-bottom:0.625em;
		margin-top:0.625em;
	}
	.event-description{
		margin-top:1.250em;
		margin-bottom:1.250em;
		.description-header{
			font-weight:bold;
			margin-bottom:0.625em;
		}
	}
	.event-learn-more{
		margin-top:0.625em;
	}
	.event-tickets-iframe{
		margin-top:0.625em;
	}
	.event-title{
		@include heading-three();
	}
	&.single-post{
		.event-title{
			@include heading-one();
		}
	}
	
	.event-date,.event-time,.event-address,.event-duration,.event-cost{
		@include heading-four();
		span{
			font-weight:400;
		}
	}
}