html{
	line-height:1.5;
}
h1, .heading-one{
	@include heading-one();
}

h2, .heading-two{
	@include heading-two();
}

h3, .heading-three{
	@include heading-three();
}

h4, .heading-four{
	@include heading-four();
}

h5, .heading-five{
	@include heading-five();
}

h6, .heading-six{
	@include heading-six();
}

p{
	@include body-copy();
}

//provide extra margin to the bottom of the last p element in a content section to provide space for the next content section
.end-p{
	@include body-copy-last();
}

.page-heading{
	
	@include heading-one();
}

.panel-heading{
	
	@include heading-three();
}

.event-title{
	
}

.class-heading{
	@include heading-three();
}

ul,
ol {
  margin: 0 0 1.5em 1em;
  padding: 0;
}
